- content_for :title do
  Skillup
  |
  All enrollments

%br
%h3.text-center
  Listing enrollments
  = @enrollments.count
%br
.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th 
          .fa.fa-graduation-cap
          Course
        %th 
          .fa.fa-user
          User
        %th 
          .fa.fa-clock
          Bought
        %th 
          .fa.fa-dollar-sign
          Price
        %th 
          .fa.fa-star
          Rating
        %th
          .fa.fa-comment 
          Review
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.course
          %td
            = link_to enrollment.user, user_path(enrollment.user) 
          %td= enrollment.created_at.strftime("%d/%b/%y, %H:%M")
          %td= number_to_currency(enrollment.price)
          %td= enrollment.rating
          %td= enrollment.review
          %td= link_to 'See Review', enrollment
          %td= link_to 'Edit Review', edit_enrollment_path(enrollment)
          %td= link_to 'Delete enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Enrollment', new_enrollment_path
