- content_for :title do
  Skillup
  |
  All enrollments

%br
%h3.text-center
  = action_name.humanize
  enrollments
  = @enrollments.count
%br


= search_form_for @q, url: @ransack_path do |f|
  = f.search_field :user_email_cont, placeholder: 'User email'
  = f.search_field :course_title_cont, placeholder: 'Course title'
  = f.search_field :price_eq, placeholder: 'Price'
  = f.search_field :review_cont, placeholder: 'Review'
  = f.search_field :rating_eq, placeholder: 'Rating'
  = f.submit
  = link_to 'refresh', @ransack_path
%br

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th 
          .fa.fa-graduation-cap
          =sort_link(@q, :course_title, 'Course')
        %th
          .fa.fa-user
          =sort_link(@q, :user_email, 'User')
        %th 
          =sort_link(@q, :created_at)
        %th 
          .fa.fa-dollar-sign
          =sort_link(@q, :price)
        %th
          User Progress
        %th 
          .fa.fa-comment 
          Review
        %th 
          .fa.fa-star
          =sort_link(@q, :rating)
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td
            = link_to enrollment.user, user_path(enrollment.user) 
          %td= enrollment.created_at.strftime("%d/%b/%y, %H:%M")
          %td= number_to_currency(enrollment.price)
          %td= number_to_percentage(enrollment.course.current_user_progress(enrollment.user), precision: 0)
          %td= enrollment.review 
          %td= enrollment.rating
          %td= link_to 'See Review', enrollment
          - if policy(enrollment).edit?
            %td= link_to 'Edit Review', edit_enrollment_path(enrollment)
          - if policy(enrollment).destroy?
            %td= button_to 'Delete enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

.row.mt-3
  != pagy_bootstrap_nav(@pagy)
  != pagy_bootstrap_nav_js(@pagy)

%br
