- content_for :title do
  Skillup
  |
  New enrollment
  =  @enrollment

%p
.card 
  .card-header
    %h3 
      New enrollment
      = link_to @course.title,  course_path(@course)
  .card-body
    = form_tag course_enrollments_path(@course) do
      = submit_tag "Pay #{@course.price}", class: "btn btn-success"
  .card-footer
    = link_to 'Back', enrollments_path
