.card
  .card-header
    - if lesson.viewed(current_user) == true
      .text-success.far.fa-check-square
    - else
      .text-muted.far.fa-check-square

    = link_to lesson.title, course_lesson_path(lesson.course,  lesson)
  - if policy(lesson).show?
    .card-body
      %h5 
        Course:    
        = lesson.course
      = lesson.content
  - if policy(lesson).edit?
    .card-footer
      .row
        .col-6
          = link_to 'Edit', edit_course_lesson_path(lesson.course,  lesson ), class: 'btn btn-sm btn-warning'
        .col-6
          = button_to 'Destroy',  [lesson.course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
    .card-footer
      - unless  lesson.prev_lesson.nil? 
        = link_to "Previous lesson", course_lesson_path(@course, lesson.prev_lesson)
      - unless  lesson.next_lesson.nil? 
        = link_to "Next lesson",  course_lesson_path(@course, lesson.next_lesson)
%p  