.card.mt-2
  .card-header
    %h5     
      = link_to course.title, course_path(course)
  .card-body
    = course.description
  .card-footer
    .fa.fa-list-check 
    = course.lessons.count
  .card-footer
    .row
      .col-6
        .fa.fa-globe-africa
        = course.language
      .col-6
        .text-right
          .fa.fa-signal
          = course.level
  .card-footer
    = enrollment_button(course)
    = review_button(course)
    = number_to_currency(course.price)  
  .card-footer
    .text-warning.fa.fa-star
    = course.avg_rating
  .card-footer
    .far.fa-clock
    = course.created_at.strftime('%d-%b-%Y')
    %br
    .fa-solid.fa-chalkboard-user
    = course.user.user_name
  .card-footer 
    = link_to 'Show', course
    - if current_user
      - if policy(course).edit?
        \|
        = link_to 'Edit', edit_course_path(course) 
        \| 
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }