.card.mt-2
  .card-header
    %h5     
      = link_to course.title, course_path(course)
  .card-body
    = course.description
  .card-footer.text-center
    = enrollment_button(course)
    = review_button(course)
    = number_to_currency(course.price)  
  .card-footer
    .row 
      .col-6
        .text-warning.fa.fa-star
        = course.avg_rating
        (
        .fa.fa-user-graduate
        = course.enrollments_count
        )
      .col-6
        .text-end
          .fa-solid.fa-chalkboard-user
          = link_to course.user.user_name, user_path(course.user)
     


  .card-footer
    .fa.fa-list-check 
    Lessons:
    = course.lessons_count

  .card-footer
    .row
      .col-6
        .fa.fa-globe-africa
        = course.language
      .col-6
        .text-end
          .fa.fa-signal
          = course.level

  - if current_user
    - if policy(course).edit?
      .card-footer 
        = link_to 'Add lesson', new_course_lesson_path(course, @lesson)
        \|
        = link_to 'Edit', edit_course_path(course) 
        \| 
        = button_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
        \| 
        = link_to 'Analytics',analytics_course_path(course)
    - if policy(course).destroy?
      .card-footer 
        - if course.published?
          .text-success Published
        - else
          .text-danger Not published
        - if course.approved?
          .text-success Approved
        - else
          .text-danger Not approved
    - if policy(course).approve?
      .card-footer
        - if course.approved?     
          = button_to 'Unapprove', unapprove_course_path(course), method: :patch, class: 'link'
        - else 
          = button_to 'Approve', approve_course_path(course), method: :patch, class: 'link'