- content_for :title do
  Skillup 
  |
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p


.row 
  .col-lg-8.order-1.order-lg-1
    .jumbotron-b
      %h2.mb-4
        .fa.fa-graduation-cap
        = @course.title
      .row.mb-2
      .fa.fa-clock
      = @course.created_at.strftime("%b/%y")
      .row.mb-2
      .fa.fa-globe-africa
      = @course.language
      .row.mb-2
      .fa.fa-signal
      = @course.level
      .p-3
      = @course.description
    %h4
      Lessons: 
      = @course.lessons_count

      .text-end
        = number_to_percentage(@course.current_user_progress(current_user),precision: 0)
    -@lessons.each do |lesson|
      = render 'lessons/lesson_preview', lesson: lesson
    %p
    %h4
      Reviews: 
      = @reviews
    - @enrollments_with_reviews.each do |enrollment| 
      = render 'enrollments/enrollment', enrollment: enrollment

  .col-lg-4.order-0.order-lg-1.sticky-top
    =render 'courses/course', course: @course




